# C-sharp/vscode ignores
.vscode
bin
obj

**/.idea
*.iml

docs/_site
docs/Gemfile.lock

exercises/java/out
exercises/java/.gradle
exercises/java/build/

node_modules
package-lock.json

*.pyc

exercises/kotlin/.gradle
exercises/kotlin/build/
